* {
  font-family: sans-serif;
  font-size: 1vw;
}

body {
  margin: auto;
}

.clearfix {
  clear: both;
}

.stats{
  margin: auto;
  width: 30%;
  text-align: center;
}

.columns {
  display: inline-grid;
  position: relative;
  width: 200px;
  padding: 1px;
}

#normalStats {
  color:black;
}

#shinyStats {
  color:black;
}

#specialStats {
  color:black;
}

#alolanStats {
  color:black;
}

#statsLink {
  font-size:20px;
  color:white;
}

.pokemon-image {
  height: 120px;
  display: block;
  margin: auto;
}
.wrapper {
  margin: auto;
  width: 100%;
  text-align:center;
}
.pokemon-name {
  font-weight: bold;
  padding-top: 5%;
  padding-left: 10%;
  font-size: 14px;
}

.container {
  display: block;
  height:150px;
  position: relative;
  cursor: pointer;
  background-color: lightgray;
}

/* Hide the browser's default checkbox */
.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

/* Create a custom checkbox */
.checkmark {
  position:absolute;
  top: 5%;
  left: 5%;
  height: 15%;
  width: 15%;
  background-color: #eee;
}

/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.container input:checked ~ .checkmark {
  background-color: #2196F3;
}


/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.container .checkmark:after {
  left: 35%;
  top: 10%;
  width: 25%;
  height: 50%;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

#settings {
  padding: 10px;
  float: right;
  color: #f2f2f2;
  text-align: center;
  text-decoration: none;
  font-size: 1.5vw;
}

#settings:hover {
  background-color: #ddd;
  color: black;
}

#settings.active {
  background-color: #4CAF50;
  color: white;
}

#myProgress {
  width: 100%;
  text-align: center;
  background-color: #ddd;
}

#myBar {
  width:0%;
  height: 30px;
  background-color: #62D17A;
  line-height: 30px;
  color: white;
}

#barLabel {
  margin-top: 5px;
  position: absolute;
  text-align: center;
  width: 100%;
  color: black;
  font-size:18px;
}

.jump {
  display:flex;             /* establish flex container */
  align-items: center;
  justify-content: center;
  width:100%;
  background-color: #0094DE;
  flex-wrap:wrap;
  margin:auto;
  text-align:center;
}

.jump a {
  width:60px;
  font-size: 18px;
}

.jump a:link, a:visited {
  background-color: #0094DE;
  color: white;
  padding: 10px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

.jump a:hover, a:active {
  background-color: gray;
}

.sectionLabel {
  margin-top:10px;
  margin-bottom: 10px;
  text-align:center;
  font-weight: bold;
  font-size: 30px;
}

[ng-cloak] {
  display: none !important;
}

.progressive img {
  height: 120px;
}

.topnav {
  justify-content: space-between;
}

.topnav-right a {
  color: #f2f2f2;
  padding: 30px 16px;
  text-decoration: none;
  font-size: 20px;
  font-weight: bold;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: #4CAF50;
  color: white;
}

.topnav-right {
  float: right;
}

.topnav #ham {
  display: none;
}

.line-break {
  width: 100%;
    display: none;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 60%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}



@-webkit-keyframes progress-bar-stripes {
  from {
    background-position: 40px 0;
  }
  to {
    background-position: 0 0;
  }
}
@-o-keyframes progress-bar-stripes {
  from {
    background-position: 40px 0;
  }
  to {
    background-position: 0 0;
  }
}
@keyframes progress-bar-stripes {
  from {
    background-position: 40px 0;
  }
  to {
    background-position: 0 0;
  }
}
.progress {
  height: 20px;
  margin-bottom: 20px;
  overflow: hidden;
  background-color: #f5f5f5;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
}
.progress-bar {
  float: left;
  width: 0%;
  height: 100%;
  font-size: 12px;
  line-height: 20px;
  font-weight: bold;
  color: #000;
  text-align: center;
  background-color: #33b770;
  -webkit-box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.15);
  box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.15);
  -webkit-transition: width 0.6s ease;
  -o-transition: width 0.6s ease;
  transition: width 0.6s ease;
}
.progress-striped .progress-bar,
.progress-bar-striped {
  background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
  background-image: -o-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
  background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
  -webkit-background-size: 40px 40px;
  background-size: 40px 40px;
}
.progress.active .progress-bar,
.progress-bar.active {
  -webkit-animation: progress-bar-stripes 2s linear infinite;
  -o-animation: progress-bar-stripes 2s linear infinite;
  animation: progress-bar-stripes 2s linear infinite;
}
.progress-bar-success {
  background-color: #5cb85c;
}
.progress-striped .progress-bar-success {
  background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
  background-image: -o-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
  background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
}
.progress-bar-info {
  background-color: #5bc0de;
}
.progress-striped .progress-bar-info {
  background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
  background-image: -o-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
  background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
}
.progress-bar-warning {
  background-color: #f0ad4e;
}
.progress-striped .progress-bar-warning {
  background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
  background-image: -o-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
  background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
}
.progress-bar-danger {
  background-color: #d9534f;
}
.progress-striped .progress-bar-danger {
  background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
  background-image: -o-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
  background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
}




.mobileNav{
  display:none;
}

.dropdown {
    display:inline-block;
}

.dropdown .dropbtn {

    background-color: #333;
    color: #f2f2f2;
    border: none;
    outline: none;
padding: 30px 16px;
text-decoration: none;
font-size: 20px;
font-weight: bold;

}

.navbar a:hover, .dropdown:hover .dropbtn {
  background-color: #ddd;
  color: black;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 147px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.dropdown:hover .dropdown-content {
    display: block;
}






h1 {
  font-size:24px;
}

h2 {
  font-size:20px;
  padding-top:20px;
  text-align: justify;
}

.supportCont p {
  font-size:18px;
  padding-left: 30px;
  text-align: justify;
}

.supportCont p a {
  font-size:18px;
  color: #1DA1F2;
}

.supportContp  a:visited {
    color: darkblue;
}

.supportCont p a:hover {
    color: green;
}

.supportCont p a:active {
    color: blue;
}

label, input, textarea{
  font-size:18px;
}

@media only screen and (max-width: 900px) {
  .columns {
      width: 100px;
  }

  .pokemon-image {
    height: 70px;
  }
  .pokemon-name {
    padding-top:8px;
    font-size: 8px;
  }

  .container {
      height:100px;
  }

  #barLabel {
    padding-top:3px;
    font-size:13px;
  }

  .progressive img {
    height: 70px;
    max-width:100%;
  }

  .jump a {
    height:15px;
    width:60px;
    font-size: 14px;
  }

  .sectionLabel {
    font-size:24px;
  }

  .topnav #myLinks {
    display: none;
  }

  .topnav #ham {
    display: block;
    color: white;
    padding: 24.5px 25px;
    text-decoration: none;
    font-size: 17px;
    align:right;
  }

  .topnav-right {
    width:100%;
    text-align:center;
  }
  .topnav-right a {
    display:block;
    padding: 15px;
  }
  .mobileNav{
    display:inline-block;
    width:100%;
  }
  .dropdown{
    display:none;
  }
  h1 {
    font-size:22px;
  }

  h2 {
    font-size:18px;
  }

  .supportCont p {
    font-size:16px;
  }

  .supportCont p a {
    font-size:16px;
  }

  label, input, textarea{
    font-size:16px;
  }
}

@media only screen and (min-width: 901px) {
  .topnav #myLinks {
    display: block !important;
  }

  .line-break {
      display: none !important;
  }
  .mobileNav{
    display:none;
  }
  .dropdown{
    display:inline-block;
  }

}

.progressive img.reveal {
  will-change: transform, opacity;
  animation: progressiveReveal 0.5s ease-out;
}

@keyframes progressiveReveal {
	0% { transform: scale(0); opacity: 0; }
	100% { transform: scale(1); opacity: 1; }
}

footer {
  background-color: #333;
  color:white;
  padding: 20px;
  text-align: center;
}

.topnav {
  overflow: hidden;
  background-color: #333;
  display: flex;             /* establish flex container */
  align-items: center;       /* center ul container vertically */
  flex-wrap:wrap;
}

#logo {
  height: 40px;
  padding: 14px 16px;
}

#topBtn {
  display: none; /* Hidden by default */
  width:50px;
  position: fixed; /* Fixed/sticky position */
  bottom: 20px; /* Place the button at the bottom of the page */
  left: 30px; /* Place the button 30px from the right */
  z-index: 99; /* Make sure it does not overlap */
  border: none; /* Remove borders */
  outline: none; /* Remove outline */
  cursor: pointer; /* Add a mouse pointer on hover */
  padding: 15px; /* Some padding */
}

#reset {
  background-color: red;
  border: none;
  color: black;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  border-radius: 12px;
  font-size:20px;
  font-weight:bold;
}

#reset:hover {
  background-color: darkred;
}

#clipboard {
  text-align: center;
}

#textArea {
  width: 100%;
  font-size:14px;
  text-align: center;
  background-color: lightgray;
  border: 0;
}

#saveText {
  margin-top:10px;
  font-size:14px;
}

#hide {
  background-color: #E0A458; /* Green */
  border: none;
  color: black;
  padding: 5px 10px 5px 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  border-radius: 4px;
  font-size:14px;
  font-weight:bold;
}

#close {
    float:right;
    display:inline-block;
    padding:2px 5px;
    background:#ccc;
}

#close:hover {
    float:right;
    display:inline-block;
    padding:2px 5px;
    background:#ccc;
    color:#fff;
}

input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}

input[type=submit] {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #45a049;
}

.supportCont {
  max-width:70vh;
  margin: auto;
  margin-bottom:0px;
  text-align:center;
  border-radius: 5px;
  background-color: #f2f2f2;
  margin-top: 0px;
  padding: 20px;
}

#contactHead {
  font-size:24px;
  text-align: center;
}
