$shade-unavailable: false;

* {
  font-family: sans-serif;
  font-size: 12px;
}

.page {
  margin: 0 0 32px;
}

.clearfix {
  clear: both;
}

table {
  float: left;
  padding: 0 16px;
  border-right: 1px solid #ddd;

  &:nth-child(4) {
    border-right: none;
  }
}

.pokemon-image {
  width: 40px;
  height: 40px;
}

.pokemon-name {
  font-weight: bold;
}

.egg {
  float: right;
}

.check {
  width: 16px;
  height: 16px;
  line-height: 16px;
  border: 1px solid #aaa;
  color: #ddd;
  float: left;
  font-size: 10px;
  text-align: center;
  position: relative;

  @if $shade-unavailable {
    .unavailable & {
      // hackish ways to print with a background-color
      -webkit-print-color-adjust: exact;
      background-color: #ccc;
      box-shadow: inset 0 0 0 8px #ccc;
    }
  }
}

.single-check {
  padding-right: 8px;
}

.multi-checks .check {
  width: 12px;
  height: 12px;
  line-height: 12px;
}

.check-row {
  &:nth-child(2) .check {
    border-top: none;
  }
  .check:nth-child(2) {
    border-left: none;
  }
}

.print-link {
  padding: 4px 8px;
  color: #000;
  display: block;
  position: fixed;
  top: 0;
  right: 0;
  font-size: 18px;
}

@media print {
  .page {
    margin: 0;
    page-break-after: always;
  }

  .page-number, .print-link {
    display: none;
  }
}
