<!DOCTYPE html>
<html lang="en" >
<head>
  <!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-123581449-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-123581449-1');
</script>

  <meta charset="UTF-8">
  <title>GoDex</title>
  <link rel="stylesheet" href="css/style.css">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" href="favicon.ico" type="image/x-icon" />
  <link rel="shortcut icon" href="favicon.ico" type="image/x-icon" />
  <style>
  @media only screen and (max-width: 600px) {
    .columns {
        width: 100px;
    }
    .pokemon-image {
      height: 70px;
    }
    .pokemon-name {
      font-size: 8px;
    }
    .container {
        height:100px;
    }
    #barLabel {
      font-size:13px;
  }
}
</style>
</head>

<body>
  <div class="topnav">
    <a href="/">
  <img id="logo" src="https://www.freepnglogos.com/uploads/pokemon-go-png-logo/pokemon-go-mewtwo-generator-png-logo-18.png" alt="Pokemon GO Pokedex">
  </a>
  <!--<a id="statsLink" href="stats.html">Stats
</a>-->
  <!--
  <a href="#settings" id="settings">
  <img id="cog" src="https://www.iconspng.com/uploads/cog-1/cog-1.png" alt="Settings" style="width:30px;height:30px">
</a>-->


</div>

<!---
<div class="columns" ng-repeat="shinies in shinrs | orderBy:['-checked', 'number']:false | filter:CDFilter">
            <img class="icon" ng-src="{{ shinies.icon }}">
            <h2 class="titletwo">{{ shinies.title }}</h2>
            <label class="cbox">
                <input id="shinies{{$index}}" type="checkbox" ng-model="shinies.checked">
                <span class="checkmark"></span>
            </label>

        </div>--->

<div id="myProgress"><div id="barLabel"></div>
  <div id="myBar"></div>
</div>

  <div class="wrapper" ng-cloak ng-app="app" ng-controller="PokedexController as pokedex">
    <div id="gen">Gen 1</div>
            <div class="columns" ng-repeat="pokemon in pokedex.genOne | orderBy:['id']:false | filter:CDFilter">
              <label class="container" id="cont{{pokemon.id}}">
                <input type="checkbox" name="dex" id={{pokemon.id}}>
                <span class="checkmark"></span>
                <div class="pokemon-name">#{{pokemon.id}} {{pokemon.name}}</div>
                <img class="pokemon-image" ng-src="https://www.serebii.net/pokemongo/pokemon/{{pokemon.id}}.png"  alt="{{pokemon.name}}" />
              </label>

            </div>
            <div id="gen">Gen 2</div>
            <div class="columns" ng-repeat="pokemon in pokedex.genTwo | orderBy:['id']:false | filter:CDFilter">
              <label class="container" id="cont{{pokemon.id}}">
                <input type="checkbox" name="dex"  id={{pokemon.id}}>
                <span class="checkmark"></span>
                <div class="pokemon-name">#{{pokemon.id}} {{pokemon.name}}</div>
                <img class="pokemon-image" ng-src="https://www.serebii.net/pokemongo/pokemon/{{pokemon.id}}.png"  alt="{{pokemon.name}}" />
              </label>

            </div>

            <div id="gen">Gen 3</div>
            <div class="columns" ng-repeat="pokemon in pokedex.genThree | orderBy:['id']:false | filter:CDFilter">
              <label class="container" id="cont{{pokemon.id}}">
                <input type="checkbox" name="dex" id={{pokemon.id}}>
                <span class="checkmark"></span>
                <div class="pokemon-name">#{{pokemon.id}} {{pokemon.name}}</div>
                <img class="pokemon-image" ng-src="https://www.serebii.net/pokemongo/pokemon/{{pokemon.id}}.png"  alt="{{pokemon.name}}" />
              </label>

            </div>

            <div id="gen">Shinies</div>
            <div class="columns" ng-repeat="pokemon in pokedex.pokedexService.shinies | orderBy:['id']:false | filter:CDFilter">
              <label class="container" id="contshiny{{pokemon.id}}">
                <input type="checkbox" id=shiny{{pokemon.id}}>
                <span class="checkmark"></span>
                <div class="pokemon-name">{{pokemon.name}}</div>
                <img class="pokemon-image" ng-src="https://www.serebii.net/pokemongo/pokemon/shiny/{{pokemon.id}}.png"  alt="{{pokemon.name}}" />
              </label>

            </div>

            <div id="gen">Special</div>
            <div class="columns" ng-repeat="pokemon in pokedex.pokedexService.special | filter:CDFilter">
              <label class="container" id="contspecial{{pokemon.id}}">
                <input type="checkbox" id=special{{pokemon.id}}>
                <span class="checkmark"></span>
                <div class="pokemon-name">{{pokemon.name}}</div>
                <img class="pokemon-image" ng-src="https://www.serebii.net/pokemongo/pokemon/{{pokemon.id}}.png"  alt="{{pokemon.name}}" />
              </label>

            </div>

            <div id="gen">Alolan</div>
            <div class="columns" ng-repeat="pokemon in pokedex.pokedexService.alolan | filter:CDFilter">
              <label class="container" id="contalolan{{pokemon.id}}">
                <input type="checkbox" id=alolan{{pokemon.id}}>
                <span class="checkmark"></span>
                <div class="pokemon-name">{{pokemon.name}}</div>
                <img class="pokemon-image" ng-src="https://www.serebii.net/pokemongo/pokemon/{{pokemon.id}}.png"  alt="{{pokemon.name}}" />
              </label>

            </div>

<br></br>



</div>
  <script src='https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.5/angular.min.js'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/angular-filter/0.5.8/angular-filter.min.js'></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="js/index.js"></script>

</body>

</html>
